* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  margin: 0;
  padding: 6px 50px;
}

.header-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-one {
  display: flex;
}

.hero {
  display: flex;
}

.part-two {
  display: flex;
}

.container {
  display: flex;
}

#card {
  display: flex;
}

.part-three {
  display: flex;
}

.part-four {
  display: flex;
}

.sign-up {
  display: flex;
}

#logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-links {
  font-size: 18px;
  color: #e5e7eb
}